@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Sacramento&family=Montserrat&family=Nunito+Sans&display=swap');
body {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    color: #222;
    font-weight: 400;
    background-color: #f8eeed;
}


/*-----------CalloutContainer--------*/


/*----Card------*/

.card-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.card {
    height: auto;
    margin-bottom: 20px;
    background-color: #d0b0b3;
}

.card-img-top {
    display: inline-block;
    width: 100%;
    height: 300px;
}

.card-body {
    padding: 10px 20px;
}

.card-title {
    color: #fefefd;
    max-width: 100%;
    margin-bottom: 5px;
    padding: 10px 24px;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Unna', serif;
}

.card-text {
    margin-bottom: 10px;
}

.card-text {
    color: #fefefd;
    font-size: 20px;
    font-weight: 300;
}

.card-action {
    background-color: transparent;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
    color: #fefefd;
}


/*-----Media Queries---*/